.headlines{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
}
.newsContainerDashboard{

 

    width: 30%;
    padding:20px;
 
}

.inner-newscontainer{

    padding: 30px;
    background-color: rgb(238, 238, 238);
}

