<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerMeta2}}
    <title> Error 404 : CarrerPilot</title>
</head>
<body>
{{>header2}}
    
<h1 class="cover-title" style="text-align: center"> ERROR 404 : Page not found </h1>
<center>

<img src="/img/error404.jpg" alt="404 Dude Image not found as well!!" height="50%" width="50%">

<br> <button class="btn"><a href="/"> Go back to Home Page</a></button>
</center>
</body>
</html>


