<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerMeta}}
    <title> Welcome to CareerPilot </title>
</head>
<body>

    {{header}}

    <div class="section-grey">

        <h1 class="section-titles"> Welcome to CarrerPilot, {{userName}} </h1>
        <p class="index-para"> Now what to do? </p>
        <button class="btn"> <a href="/dashboard"> Visit Dashboard </a></button>
    </div>
    
</body>
</html>