<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerMeta2}}
    <title> Welcome to CareerPilot </title>
</head>
<body>

    {{header2}}

    <center>

    <div class="success-container">

        <h1 class="section-title"> Welcome to CarrerPilot, {{userProfile.username}} </h1>
        <p class="para"> Now what to do? </p>
        <button class="btn"> <a href="/dashboard"> Visit Dashboard </a></button>
    </div>

    </center>

    
</body>
</html>