<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>headerMeta}}

    <title> Certification Search : CareerPilot </title>
</head>
<body>
{{>header}}

<div class="container">
    <h1> Certification Search</h1>
    <p class="section-para">Certifications play a crucial role in today's competitive job market and can significantly enhance an individual's career prospects.</p>
</div>


<form class="form-control" method="POST" action="/certifications">

<h2 class="section-titles"> Enter Certification Keyword </h2>

<input type="text" placeholder="For eg: Web Development">

<button class="btn" type="submit"> Search Certifications</button>
<button class="btn" > Clear </button>
</form>

<h4 class="section-subtitle" style="text-align: center"> Filters </h4>

<div class="filters">

    <label> Include National Government Certifications</label> <br>
     <label> Include Certifications from Top MNCs</label>
</div>

    
</body>
</html>
