<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerMeta}}
    <title> Courses : CareerPilot</title>
</head>
<body>

    {{>header}}
    
    <h1> Courses </h1>

    <form class="form-control" action ="/courses" method="POST">

    <input type="text" placeholder="Enter training/course" name="courseKeyword">
    
             <select name="courseLocation" id="courseLocation">
                <option value="Online">Online</option>
            
            </select>

    <button class="btn" type="submit"> Search </button>
    


    
    </form>
</body>
</html>