<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerMeta2}}
    <title>Error : CareerPilot </title>
</head>
<body>

    {{>header2}}

    <center>
    <h1 class="cover-title" style="text-align:center"> ERROR {{statusCode}}</h1>


    <p class="index-para section-subtitles"> {{errorDesc}} </p><br>
    <button class="btn"> <a href="/"> Go Back to Home Page </a></button>
    </center>

    
</body>
</html>