<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerMeta}}
    <title>Forgot Password : CarrerPilot </title >
</head>
<body>
    {{>header}}

    <div class="section1">

        <form class="form-control" action="/forgotPassword" method="POST">

        <h1 class="section-titles index-para"> Forgot Password </h1>
        <p class="section-subtitles index-para"> Enter your Email Address to continue </p>
        <input type="email" name="email" placeholder="Your Email Address">
        
        <button class="btn" type="submit"> Reset Password </button>
        </form>
    </div>
    
</body>
</html>