<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerMeta}}
    <title>Forgot Password : CarrerPilot </title >
</head>
<body>
    {{>header}}

    <div class="section1">

        <form class="form-control" action="/forgotPassword" method="POST">
        
        <button class="btn" type="submit"> Search </button>
        </form>
    </div>
    
</body>
</html>