<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerMeta2}}

    <title>Home : CareerPilot </title>
</head>

<body>
    {{>header2}}

    <main>

        <div class="hero">
            <h2 class="cover-title"> Soaring Careers : </h2>
            <h2 class="cover-title"> Elevating Dreams, Connecting opportunities </h2>
            <p class="cover-para"> Our primary goal is to empower and support learners of all backgrounds in acquiring
                the
                knowledge and skills they need to excel in their chosen fields </p>

            <div class="btn-box">

                <button class="btn-white"> <a href="/about"> Know More </a></button>
                <button class="btn-transp"> <a href="/careeradvice"> Career Advice </a></button>
            </div>
        </div>


        {{!-- <div class="slideshow">

            <div class="sliders" id="slider-1">
                <h1> Certifications </h1>

                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum magnam quod labore sit amet fugit
                    cupiditate libero officia dicta. Aperiam, similique voluptates nisi molestiae iste quaerat quo
                    veritatis animi reiciendis! </p>

                <button class="btn-white"> Find Certifications </button>
            </div>

            <div class="sliders" id="slider-2">
                <h1> Internships </h1>

                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum magnam quod labore sit amet fugit
                    cupiditate libero officia dicta. Aperiam, similique voluptates nisi molestiae iste quaerat quo
                    veritatis animi reiciendis! </p>

                <button class="btn-white"> Find Internships </button>
            </div>

            <div class="sliders" id="slider-3">
                <h1> Jobs </h1>

                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum magnam quod labore sit amet fugit
                    cupiditate libero officia dicta. Aperiam, similique voluptates nisi molestiae iste quaerat quo
                    veritatis animi reiciendis! </p>

                <button class="btn-white"> Find Jobs </button>
            </div>

            <div class="sliders" id="slider-4">
                <h1> Scholarships </h1>

                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum magnam quod labore sit amet fugit
                    cupiditate libero officia dicta. Aperiam, similique voluptates nisi molestiae iste quaerat quo
                    veritatis animi reiciendis! </p>

                <button class="btn-white"> Find Scholarships </button>
            </div>

        

            <a class="prev-slideshow" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next-slideshow" onclick="plusSlides(1)">&#10095;</a>

            <div class="dotsbox" style="text-align: center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
                <span class="dot" onclick="currentSlide(4)"></span>
            </div>
        </div> --}}
        <section class="section" id="aboutus-section">

            <h1> About Us </h1>
            <p class="para">

                Welcome to CareerPilot, a platform designed specifically for students and graduates seeking
                opportunities to further their education and careers.We offer a comprehensive collection of information
                related to scholarships, job alerts, certification courses, and much more, all in one convenient
                location. Our mission is to make the process of finding relevant and valuable resources as seamless as
                possible. With a user-friendly interface and up-to-date information, we aim to empower our visitors to
                achieve their academic and professional goals. Whether you're just starting out or looking to advance
                your career, our website is your one-stop-shop for all your needs. Thank you for choosing us as your
                trusted resource
            </p>

            <i> Thank you for choosing us as your trusted resource! </i>
            <button class="btn"> <a href="/about"> Know More </a></button>
        </section>

        <section class="section">
            <div class="newsletters">
                <h2 class="cover-title"> Subscribe to Newsletters <br> &amp; Get Company News </h2>

                <div id="subscribe">
                    <input type="text" placeholder="Your email">
                    <button class="btn-white"> Subscribe </button>
                </div>

            </div>
            </div>
        </section>
    </main>

    {{>footer2}}

    <script>
        const slide = document.querySelectorAll('.sliders'),
            dot = document.querySelectorAll('.dot');
        let counter = 1;
        slidefun(counter);

        let timer = setInterval(autoslide, 7000);
        function autoslide() {
            counter += 1;
            slidefun(counter)
        }

        function plusSlides(n) {
            counter += n;
            slidefun(counter)
            resetTimer();
        }

        function currentSlide(n) {
            counter = n;
            slidefun(counter);
            resetTimer();
        }

        function resetTimer() {
            clearInterval(timer);
            timer = setInterval(autoslide, 7000)
        }
        function slidefun(n) {
            let i;
            for (i = 0; i < slide.length; i++) {
                slide[i].style.display = "none";
            }

            for (i = 0; i < dot.length; i++) {
                dot[i].classList.remove('active')
            }

            if (n > slide.length) {
                counter = 1;

            }

            if (n < 1) {
                counter = slide.length;
            }

            slide[counter - 1].style.display = "block";
            dot[counter - 1].classList.add('active');
        }

    </script>

</body>

</html>