<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerMeta2}}

    <title>Home : CareerPilot </title>
</head>

<body>
    {{>header2}}

    <main>

        <div class="hero">
            <h2 class="cover-title"> Soaring Careers : </h2>
            <h2 class="cover-title"> Elevating Dreams, Connecting opportunities </h2>
            <p class="cover-para"> Our primary goal is to empower and support learners of all backgrounds in acquiring
                the
                knowledge and skills they need to excel in their chosen fields </p>

            <div class="btn-box">

                <button class="btn-white"> <a href="/about"> Know More </a></button>
                <button class="btn-transp"> <a href="/careeradvice"> Career Advice </a></button>
            </div>
        </div>

        <div class="slideshow">

            <div class="sliders" id="slider-1">
                <h1> Certifications </h1>

                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum magnam quod labore sit amet fugit
                    cupiditate libero officia dicta. Aperiam, similique voluptates nisi molestiae iste quaerat quo
                    veritatis animi reiciendis! </p>
                
                <button class="btn-white"> Find Certifications </button>
            </div>

             <div class="sliders" id="slider-2">
                <h1> Internships </h1>

                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum magnam quod labore sit amet fugit
                    cupiditate libero officia dicta. Aperiam, similique voluptates nisi molestiae iste quaerat quo
                    veritatis animi reiciendis! </p>
                
                <button class="btn-white"> Find Internships </button>
            </div>

             <div class="sliders" id="slider-3">
                <h1> Jobs </h1>

                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum magnam quod labore sit amet fugit
                    cupiditate libero officia dicta. Aperiam, similique voluptates nisi molestiae iste quaerat quo
                    veritatis animi reiciendis! </p>
                
                <button class="btn-white"> Find Jobs </button>
            </div>

             <div class="sliders" id="slider-4">
                <h1> Scholarships </h1>

                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum magnam quod labore sit amet fugit
                    cupiditate libero officia dicta. Aperiam, similique voluptates nisi molestiae iste quaerat quo
                    veritatis animi reiciendis! </p>
                
                <button class="btn-white"> Find Scholarships </button>
            </div>

            {{!-- Swiper --}}

            <a class="prev-slideshow">&#10094;</a>
            <a class="next-slideshow">&#10095;</a>

            <div class="dotsbox" style="text-align: center">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>

        <section class="section">

            <h1> About Us </h1>
            <p class="para">

                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum magnam quod labore sit amet fugit
                    cupiditate libero officia dicta. Aperiam, similique voluptates nisi molestiae iste quaerat quo
                    veritatis animi reiciendis!Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum magnam quod labore sit amet fugit
                    cupiditate libero officia dicta. Aperiam, similique voluptates nisi molestiae iste quaerat quo
                    veritatis animi reiciendis!
            </p>

            <strong> Thank you for choosing us as your trusted resource! </strong>
            <button class="btn"> <a href="#"> Know More </a></button>
        </section>

        <section class="section">
            <div class="newsletters">
                <h2 class="cover-title"> Subscribe to Newsletters <br> &amp; Get Company News </h2>

                <div id="subscribe">
                <input type="text" placeholder="Your email">
                <button class="btn-white"> Subscribe </button>
                </div>

                </div>
            </div>
        </section>
    </main>

    {{>footer2}}

</body>

</html>