<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerMeta}}
    <title>Home Page :  CareerPilot </title>
</head>
<body>

   {{>header}}

    <section class="slideshow-container">

        <!-- Black Bg -->

        <main class="container">

            <h1> CareerPilot : Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores aliquid provident nemo? </h1>
    
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, pariatur! </h3>
    
        
        </main>

        <h1> About Us  </h1>
        <h4> Welcome to our website, a platform designed specifically for students and graduates seeking 
            opportunities to further their education and careers.We offer a comprehensive collection of information related to scholarships, job alerts, certification courses, and much more, all in one convenient location. Our mission is to make the process of finding relevant and valuable resources as seamless as possible. With a user-friendly interface and up-to-date information, we aim to empower our visitors to achieve their academic and professional goals. Whether you're just starting out or looking to advance your career, our website is your one-stop-shop for all your needs.
             Thank you for choosing us as your trusted resource </h4>

    </div>

    <section class="sec2">

        <h1> Top IT Companies hiring now  </h1>

        <div class="companies-list">
            
        </div>


    </section>

    <section class="sec3">

        <h1> Latest News </h1>

    </section>

    <section class="sec4">

        <h1> Our Mission </h1>
    </section>

    <section class="sec5">
        <h1> Announcements </h1>
    </section>

    <footer class="footer">
        <!-- Black in color -->
    </footer>

    
</body>
</html>