<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerMeta}}
    <title>Home Page : CareerPilot </title>
</head>

<body>

    {{>header}}

    <section class="slideshow-container">

        <!-- Black Bg -->

        <main class="container">

            <h1> CareerPilot </h1>

            <h3>Career Exploration Made Easy: Jobs, Scholarships, and More </h3>

        </main>

        {{!-- <section class="section">

            <div class="left-section">

                <h1 class="title-small"> WELCOME TO </h1>
                <h1 class="title-big"> CareerPilot </h1>
                <p class="index-para paragraph"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos sapiente
                    consequatur
                    harum
                    officiis architecto, qui eligendi quae, porro dignissimos vero voluptatem at aliquam quod laborum
                    temporibus
                    debitis omnis molestiae adipisci.</p>

                <button class="btn"> CHECK OUT </button>

            </div>

            <div class="right-section">

                <img src="">

            </div>

        </section> --}}



        <h1 class="section-titles"> About Us </h1>
        <h4 class="section-para index-para"> Welcome to our website, a platform designed specifically for students and
            graduates seeking
            opportunities to further their education and careers.We offer a comprehensive collection of information
            related to scholarships, job alerts, certification courses, and much more, all in one convenient location.
            Our mission is to make the process of finding relevant and valuable resources as seamless as possible. With
            a user-friendly interface and up-to-date information, we aim to empower our visitors to achieve their
            academic and professional goals. Whether you're just starting out or looking to advance your career, our
            website is your one-stop-shop for all your needs.
            Thank you for choosing us as your trusted resource </h4>
        <br>
        <div class="img-containers-center">

            <img class="section-para" src="/img/about-img.jpg" height="20%" width="30%">
            {{!-- <img class="section-para" src="/img/growth.jpg" height="20%" width="30%"> --}}
        </div>

        </div>

        <section class="sec2 dark-section">

            <h1 class="section-titles"> Top IT Companies hiring now </h1>

            <div class="companies-list section-para index-para">

                Our curated selection includes positions from industry-leading organizations, providing you with a
                direct gateway to promising career opportunities in the IT sector. Stay updated with the latest job
                listings, explore diverse roles, and find your path to success in the rapidly evolving world of
                technology.

            </div>

        </section>

        <section class="sec3">

            <h1 class="section-titles"> Latest News </h1>

        </section>

        <section class="sec4">

            <h1 class="section-titles"> Our Mission </h1>

            <h4 class="section-para index-para">
                The aim is to create an integrated platform for sending job alerts, track college students, granting
                fellowships, grants, trainings, certifications and similar works, Addressing this problem will give
                us the ability to easily identify students, graduates and colleges so that the time to do the task is
                cut
                short and deserving students may not lose out on the important fellowships, grants, training
                opportunities and similar things if there is one point of viewing the entire data. This can save users
                time and
                effort by streamlining the process of finding relevant educational information more accessible and
                convenient for users and ultimately
                empowering them to achieve their academic and professional aspirations
            </h4>

            <h1 class="section-subtitles"> Why CareerPilot? </h1>

            <h4 class="section-para index-para">
                Every year more than 6 crore of Indian graduates from diverse background and with diversity in
                education.
                Almost similar number of students enter into colleges for taking various education to help them in
                seeking jobs. The aim is to create an
                integrated platform in order to send National and International Scholarships, Job Alerts, grants,
                Training, Certifications and Course
                recommendations and similar works based on their preference <br> <br> </h4>

            <h1 class="section-subtitles"> Data Sources and Acknowledgments </h1>
            <h4 class="section-para index-para">

                We would like to extend our sincere appreciation to the following companies and websites for granting us
                permission to extract and present their job alerts, internships, and scholarships.
                Their collaboration has been instrumental in providing you with a wide range of valuable opportunities

                <strong class="section-para"> Now you can get Career Opportunities from various comapnies and websites
                    such as </strong>

                <div class="image-gallery-2">
                    <div class="image-container">
                        <img src="/img/companyLogos/naukri.png" height="150px" width="150px"
                            alt="Naukri.com Logo Image Unavailable">
                        <h6> Naukri.com </h6> <br>
                        <button class="btn"> <a href="https://www.naukri.com/" target="_blank"> Visit Page</a></button>
                    </div>

                    <div class="image-container">
                        <img src="/img/companyLogos/internshala.png" height="150px" width="150px"
                            alt="Internshala Logo Image Unavailable">
                        <h6> Internshala </h6> <br>
                        <button class="btn"> Visit Page </button>
                    </div>

                    <div class="image-container">
                        <img src="/img/companyLogos/linkedin.jpg" height="150px" width="150px"
                            alt="LinkedIn Logo Image Unavailable">
                        <h6> LinkedIn </h6> <br>
                        <button class="btn"> Visit Page </button>
                    </div>

                    <div class="image-container">
                        <img src="/img/companyLogos/w3schools.jpg" height="150px" width="150px"
                            alt="W3Schools Logo Image Unavailable">
                        <h6> W3Schools </h6> <br>
                        <button class="btn"> Visit Page </button>
                    </div>


                </div>

            </h4>
            <h1 class="section-subtitles"> Problems in existing system </h1>

            <h4 class="section-para index-para">

                In existing system, not all educational resources such as scholarship details, hackathons, job alerts
                areavailable
                on a single portal, and this can have disadvantages for students as well as graduates
                One of the main disadvantages of not keeping all scholarship details on a single portal is that it can
                be time consuming and confusing for students to navigate multiple platforms. Students may have to
                createaccounts and
                profiles on multiple portals, which can be time-consuming and can lead to information overload.
                Additionally,
                students may miss out on scholarship opportunities if they are not aware of all the available portals
                and
                databases
                Another disadvantage is that the information on different portals may not be consistent or up-to-date.
                Students
                may find conflicting information on different portals, which can be confusing and frustrating.
                Additionally,
                portals may not always be updated with the latest scholarship opportunities, deadlines, and eligibility
                criteria,
                which can lead to students missing out on valuable opportunities.
            </h4>

            <div class="image-gallery">

                <img src="/img/selected2.png">
                <img src="/img/selected3.png">
                <img src="/img/selected4.png">
            </div>
        </section>

        <section class="sec5">
            <h1 class="section-titles"> Announcements </h1>
        </section>


        <section class="sec6">

            <h1 class="section-subtitles"> Rated #1 CareerPortal in India</h1>
            <div class="yellow-stars section-para">&#9733;&#9733;&#9733;&#9733;&#9733;</div>

        </section>


        {{>footer}}

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" w3-white", "");
  }
  x[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " w3-white";
}
</script>

</body>

</html>