<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerMeta}}
    <title>Jobs : CareerPilot </title>
</head>

<body>
    {{>header}}

    <div class="jobs-gradient">
        <main class="container-jobs">

            <h1> CareerPilot </h1>

            <h3>Career Exploration Made Easy: Jobs, Scholarships, and More </h3>

            <div class="job-search">
                <input type="text" name="jobKeyword" placeholder="Looking for? ">
                <input type="text" placeholder="Enter Job Location" name="jobLocation" id="jobLocation">
                <button class="btn" type="submit"> Search Jobs </button>
                <button class="btn" onfocus="this.value='' "> Clear </button>
            </div>


        </main>
    </div>

    <div class="section">

        <h1 class="heading"> Job Based on field </h1>

        <div class="image-gallery">

        </div>
    </div>


</body>

</html>