<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerMeta}}
    <title>Jobs : CareerPilot </title>
</head>
<body>
    {{>header}}

    <h1> Job Search </h1>

    <form class="form-control" action="/jobs" method="POST">

    <label for="jobKeyword"> Job Keyword </label>
    <input type="text" placeholder="Enter Job Keyword" name="jobKeyword" id="jobKeyword">
    <button class="btn" type="submit"> Search Jobs </button>
    
    </form>
</body>
</html>