<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerMeta}}
    <title> Warning </title>
</head>
<body>
{{>header}}
    
<h1 class="section-titles index-para"> You have been Locked Out </h1>
<p class="index-para"> You are trying too often, Please Try again after sometime</p>
<center>

{{!-- <img src="/img/error404.jpg" alt="404 Dude Image not found as well!!" height="50%" width="50%"> --}}

<br> <button class="btn"><a href="/"> Go back to Home Page</a></button>
</center>
</body>
</html>


