<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerMeta2}}
    <title>Login : CareerPilot </title>
</head>
<body>

    {{>header2}}

    <div class="section-container">
        <div class="sec-left">

        </div>

        <div class="sec-right">
            
        </div>
    </div>


    {{footer2}}
    
</body>
</html>