<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerMeta}}
    <title></title>
</head>
<body>
    {{>header}}

    <div style="width: 1512px; height: 982px; position: relative; background: white">
  <div style="width: 776px; height: 1002px; padding: 10px; left: 746px; top: -10px; position: absolute; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
    <div style="width: 756px; height: 982px; background: linear-gradient(180deg, rgba(17, 40.80, 255, 0.66) 60%, rgba(17, 40.80, 255, 0) 100%)"></div>
  </div>
  <div style="left: 40px; top: 132px; position: absolute; color: black; font-size: 48px; font-family: Verdana; font-weight: 700; word-wrap: break-word">Sign in</div>
  <div style="width: 602px; height: 104px; left: 40px; top: 251px; position: absolute; flex-direction: column; justify-content: center; align-items: center; gap: 14px; display: inline-flex">
    <div style="align-self: stretch; height: 39px; color: black; font-size: 32px; font-family: Verdana; font-weight: 400; word-wrap: break-word">Email address</div>
    <div style="align-self: stretch; flex: 1 1 0; background: white; border-radius: 20px; border-left: 0.50px black solid; border-top: 0.50px black solid; border-right: 0.50px black solid; border-bottom: 0.50px black solid"></div>
  </div>
  <div style="width: 602px; height: 104px; left: 40px; top: 387px; position: absolute; flex-direction: column; justify-content: center; align-items: center; gap: 14px; display: inline-flex">
    <div style="align-self: stretch; height: 39px; color: black; font-size: 32px; font-family: Verdana; font-weight: 400; word-wrap: break-word">Password</div>
    <div style="align-self: stretch; flex: 1 1 0; background: white; border-radius: 20px; border-left: 0.50px black solid; border-top: 0.50px black solid; border-right: 0.50px black solid; border-bottom: 0.50px black solid"></div>
  </div>
  <div style="width: 193px; padding: 10px; left: 461px; top: 499px; position: absolute; justify-content: flex-end; align-items: center; gap: 10px; display: inline-flex">
    <div style="color: #5035F9; font-size: 20px; font-family: Verdana; font-weight: 400; word-wrap: break-word">forget password?</div>
  </div>
  <div style="width: 173px; left: 40px; top: 509px; position: absolute; justify-content: flex-start; align-items: center; gap: 6px; display: inline-flex">
    <div style="width: 19px; height: 21px; background: white; border-radius: 5px; border-left: 0.50px black solid; border-top: 0.50px black solid; border-right: 0.50px black solid; border-bottom: 0.50px black solid"></div>
    <div style="color: black; font-size: 20px; font-family: Verdana; font-weight: 400; word-wrap: break-word">Remember me</div>
  </div>
  <div style="width: 602px; padding-left: 266px; padding-right: 266px; padding-top: 17px; padding-bottom: 17px; left: 40px; top: 599px; position: absolute; background: #8B7BFF; border-radius: 20px; overflow: hidden; border-left: 0.50px black solid; border-top: 0.50px black solid; border-right: 0.50px black solid; border-bottom: 0.50px black solid; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
    <div style="flex: 1 1 0; height: 24px; color: white; font-size: 20px; font-family: Verdana; font-weight: 400; word-wrap: break-word">Sign in</div>
  </div>
  <div style="width: 187px; padding: 10px; left: 248px; top: 679px; position: absolute; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
    <div style="color: black; font-size: 20px; font-family: Verdana; font-weight: 400; word-wrap: break-word">Or continue with</div>
  </div>
  <div style="width: 325px; left: 179px; top: 727px; position: absolute; justify-content: center; align-items: center; gap: 83px; display: inline-flex">
    <img style="width: 40px; height: 51px" src="https://via.placeholder.com/40x51" />
    <img style="width: 77px; height: 85px" src="https://via.placeholder.com/77x85" />
    <img style="width: 42px; height: 54px" src="https://via.placeholder.com/42x54" />
  </div>
  <div style="width: 746px; height: 783px; padding-top: 10px; padding-bottom: 10px; padding-right: 37px; left: 744px; top: 100px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
    <img style="width: 835px; height: 763px" src="https://via.placeholder.com/835x763" />
  </div>
</div>
</body>
</html>