<!DOCTYPE html>
<html lang="en">

<head>
  {{>headerMeta}}
  <link rel="stylesheet" href="/css/loginBox.css">
  <title></title>
</head>

<body>
  {{>header}}

  <div class="section-reg">

    <div class="reg-img-left">
      <div class="gradient-overlay">

        <h2> When Dreams Take Flight <br> Start Your Career As A Skilled Pilot </h2>
        <h1> WELCOME BACK! </h1>

        <h2> To be connected with us, Please Login with your personal information </h2>
         {{!-- <h1> Start Your Career As A Skilled Pilot </h1> --}}
         <button class="btn"> <a href="/loginPage"> Sign In </a> </button>
      </div>
    </div>

  </div>
</body>

</html>