<!DOCTYPE html>
<html lang="en">
<head>
  {{>headerMeta}}
    <title>Change Name : CareerPilot </title>
</head>
<body>
    {{>header}}

    <div class="container">
        <h1> Change Name </h1>
    </div>

    <form action="/namechange" method="POST" style="text-align: center">
    
    <label for="currentName"> Current Name : {{currentName}}</label><br>
    <input type="text" name="updatedName"placeholder="Enter new full name" required><br>
       <input type="text" placeholder="Repeat your full name" required><br>

       <button class="btn" type="submit"> Change Name </button>
    
    </form>

    
</body>
</html>