<!DOCTYPE html>
<html lang="en">

<head>
  {{>headerMeta2}}
  <link rel="stylesheet" href="/css/loginBox.css">
  <link rel="stylesheet" href="/css/registration.css">

  <title></title>
</head>

<body>
  {{>header2}}

  {{!-- Registration section --}}

  <div class="section-container">

    {{!-- Leftmost image section --}}

    <div class="reg-left">
      <div class="gradient-overlay">

        <img src="/img/logos/logo-white.png" height="20%" width="25%" alt="CareerPilot Logo">

        <h2> When Dreams Take Flight <br> Start Your Career As A Skilled Pilot </h2>
        <h1> WELCOME BACK! </h1>

        <h2> To be connected with us, Please Login with your personal information </h2>
        {{!-- <h1> Start Your Career As A Skilled Pilot </h1> --}}
        <button class="btn"> <a href="/loginPage"> Sign In </a> </button>
      </div>
    </div>

    {{!-- Rightmost Login Section --}}

    <div class="reg-img-right">

      <h1 class="index-para"> Create Account </h1>

      <div class="login-options">
        <div class="login-icons">
      
          <img src="">
        </div>

        <div class="login-icons">
          <img src="">
        </div>

        <div class="login-icons">
          <img src="">
        </div>
        </div>

        <h3> Or Sign Up with an Email </h3>

        <div class="registration-form">

  
          <form class="form-control" method="POST" action="/registration" enctype="multipart/form-data">

            <div class="reg-sections" id="part1">
              {{!-- Name, Email & Password --}}

              <input type="text" class="scholarshipKeyword" name="fullName" placeholder="Full Name" required><br>
              <input type="email" class="scholarshipKeyword" name="email" placeholder="Email address" required><br>
              <input type="password" class="scholarshipKeyword" name="password" placeholder="Password" required><br>
              <input type="password" class="scholarshipKeyword" name="confirmPassword" placeholder="Confirm Password"
                required><br>

              {{!-- Gender --}}
              <label class="radio gender">

                <input type="radio" name="gender" value="male" checked>
                <span> Male </span>
              </label>

              <label class="radio gender">
                <input type="radio" name="gender" value="female">
                <span> Female </span>
              </label><br>
              <button class="btn" onclick="nextPart(2)"> Next </button>
            </div>

            <div class="reg-sections" id="part2">

              <input type="text" class="scholarshipKeyword" name="age" placeholder="Age" required><br>

              <input type="text" placeholder="Choose City" name="city">
              <input type="text" placeholder="Choose State" name="state">
              <input type="text" placeholder="Choose Country" name="country">
              
              <input type="text" placeholder="Enter Pincode" required name="Pincode"><br>
              <button type="button" class="btn" onclick="prevPart(1)">Previous</button>
              <button type="button" class="btn" onclick="nextPart(3)">Next</button>
            </div>

            <div class="reg-sections" id="part3">

              <input type="text" placeholder="Enter your college name" required name="collegeName">
              <input type="text" class="form-control" placeholder="Enter your Branch" required name="collegeBranch">
              <input type="text" placeholder="Enter your course" required name="collegeCourse">
              <textarea rows="1" cols="3" id="interests" name="interests"> </textarea>
              <br>
              <select class="reg-select" name="secQuestion" required>
                <option value="" disabled selected>Choose your security question</option>
                <option value="What is the name of your first crush?"> What is the name of your first crush? </option>
                <option value="Who's your favourite communist?"> Who's your favourite communist? </option>
                <option value="What is your mother's maiden name?"> What is your mother's maiden name? </option>
                <option value="Which fictional character would you like to meet in real life?"> Which fictional
                  character would you like to meet in real life? </option>
                <option value="What's the weirdest job you've ever had or wanted?"> What's the weirdest job you've ever
                  had or wanted? </option>
                <option value="What's the weirdest thing you've ever eaten?">What's the weirdest thing you've ever
                  eaten? </option>
                <option value="What's your favorite movie quote?">What's your favorite movie quote? </option>
                <option value="If you could have dinner with any historical figure, who would it be?"> If you could have
                  dinner with any historical figure, who would it be? </option>
                <option value="What's the most bizarre food combination you secretly enjoy?">What's the most bizarre
                  food combination you secretly enjoy? </option>
                <option value="What is your biggest weakness?">What is your biggest weakness? </option>
                <option
                  value="If you had to live in a fictional world from a book,game or movie, which one would it be?">If
                  you had to live in a fictional world from a book,game or movie, which one would it be?</option>
                <option value="What is your favorite childhood place to visit?">What is your favorite childhood place to
                  visit? </option>
                <option value="What is your favorite childhood actor or actress?"> What is your favorite childhood actor
                  or actress? </option>
                <option value="What's your secret guilty pleasure TV show?">What's your secret guilty pleasure TV show?
                </option>
                <option value="What's the oddest phobia you have?"> What's the oddest phobia you have? </option>
                <option value="What's the most unusual thing you've ever won in a contest?">What's the most unusual
                  thing you've ever won in a contest?</option>
                <option value="If you could have any mythical creature as a pet, what would it be?"> If you could have
                  any mythical creature as a pet, what would it be? </option>

              </select>
              <input type="text" placeholder="Enter Answer" required name="secQuestionAnswer">
                <label> Upload Profile Picture </label>
        <input type="file" name="updateImage">
              <button type="button" class="btn" onclick="prevPart(2)">Previous</button>
              <button class="btn" type="submit"> Sign Up </button>

            </div>
            <br>
          </form>

        </div>
        </div>

        <script src="/js/registration.js"></script>

        {{!-- {{>footer2}} --}}
</body>

</html>