<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerMeta}}
    <title>Reset Password : CareerPilot </title>
</head>
<body>

    {{>header}}

    <div class="container">
        <h1> Reset Password </h1>
    </div>

    <form action="/resetpassword" method="POST">
    
    <input type="password" style="padding: 10px;" name="updatedPassword" placeholder="Enter a new password"><br>
    <input type="password" style="padding: 10px;" placeholder="Confirm new password"><br>
    <button class="btn" type="submit"> Change Password </button>
    <button class="btn" onfocus = "this.value='' "> Clear </button>
    
    </form>
    
</body>
</html>