<!DOCTYPE html>
<html lang="en">

<head>
  {{>headerMeta}}
  <title> Settings : CareerPilot </title>

</head>

<body>

  {{>header}}

  <div class="container">
   

    <h1 class="section-title"> Settings </h1>
  </div>
  <div class="sidebar">

  <div class="dropdown-content" style="text-align: center">

    <button class="sidebar-btn"> Account Settings </button>
    <a href="/myprofile">View Profile</a><br>
    <a href="/namechange">Update Name</a><br>
    <a href="/updateEmail">Update Email Address</a><br>
    <a href="/forgotPassword">Update Password</a><br>
    <a href="#">Update Interests</a><br>
    <a href="#">Update Gender :/ </a><br>
    <a href="#coursesContainerDashboard">Courses</a><br>
    <a href="#">Certifications</a><br>
      <button class="sidebar-btn" style="text-align: center"> Notification Settings </button>
  </div>
  <ul>
    <a href="/myprofile"> Show/Disable notifications </li>
    <button class="btn" id="notificationButton">Show Notification</button>

  </ul>
  </div>


  <script>

    document.addEventListener('DOMContentLoaded', () => {
      const notificationButton = document.getElementById('notificationButton');

      notificationButton.addEventListener('click', () => {
        if (Notification.permission !== 'granted') {
          Notification.requestPermission();
        } else {
          showNotification();
        }
      });

      function showNotification() {
        const notification = new Notification('Title', {
          body: 'This is the notification message.',
          icon: 'path/to/icon.png' // URL to the notification icon
        });

        notification.onclick = function () {
          // Handle click event
          console.log('Notification clicked.');
        };
      }
    });

  </script>

</body>


</html>