<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerMeta2}}
    <link rel="stylesheet" href="/css/settings.css">
    <title>Settings</title>
</head>
<body>
    {{>header2}}

    <div class="sidebar">
        <div class="sidebar-header">
           Settings
        </div>
        <div class="sidebar-tabs">
        <div class="tab active"> <div> <img src="/img/vectors/user.png" height="16px" width="19px"></div><a href="/myprofile"> My Profile</a> </div>
        <div class="tab"> <div> <img src="/img/vectors/settings.png" height="16px" width="19px"></div> Account Settings </div>
        <div class="tab"> <div> <img src="/img/vectors/sec.png" height="16px" width="19px"></div> Security Settings </div>
        <div class="tab"> <div> <img src="/img/vectors/notification.png" height="16px" width="19px"></div>Notification Settings </div>
        <div class="tab"> <div> <img src="/img/vectors/ap.png" height="16px" width="19px"></div> Accessibility </div>
        <div class="tab">  </div>
        </div>
    </div>
    <div class="content">
     
    </div>
    <script src="/public/js/sidebar.js"></script>
</body>
</html>