<!DOCTYPE html>
<html lang="en">

<head>
  {{>headerMeta}}
  <title> Settings : CareerPilot </title>

</head>

<body>

  {{>header}}

  <div class="container">
   

    <h1 class="title"> Settings </h1>
  </div>
  <div class="sidebar">

  <div class="dropdown-content">

    <button class="sidebar-btn"> Account Settings </button>
    <li><a href="/myprofile">View Profile</a></li>
    <li><a href="/changeName">Update Name</a></li>
    <li><a href="#">Update Email Address</a></li>
    <li><a href="/forgotPassword">Update Password</a></li>
    <li><a href="#">Update Interests</a></li>
    <li><a href="#">Update Gender :/ </a></li>
    <li><a href="#coursesContainerDashboard">Courses</a></li>
    <li><a href="#">Certifications</a></li>
      <button class="sidebar-btn"> Notification Settings </button>
  </div>
  <ul>
   

    <li> </li> <a href="/myprofile"> Show/Disable notifications </li>

    <button class="btn" id="notificationButton">Show Notification</button>

  </ul>
  </div>


  <script>

    document.addEventListener('DOMContentLoaded', () => {
      const notificationButton = document.getElementById('notificationButton');

      notificationButton.addEventListener('click', () => {
        if (Notification.permission !== 'granted') {
          Notification.requestPermission();
        } else {
          showNotification();
        }
      });

      function showNotification() {
        const notification = new Notification('Title', {
          body: 'This is the notification message.',
          icon: 'path/to/icon.png' // URL to the notification icon
        });

        notification.onclick = function () {
          // Handle click event
          console.log('Notification clicked.');
        };
      }
    });

  </script>

</body>


</html>