<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerMeta2}}
    <link rel="stylesheet" href="/css/settings.css">
    <title>Settings</title>
</head>
<body>
    {{>header2}}

    <div class="sidebar">
        <div class="sidebar-header">
            Sidebar Header
        </div>
        <div class="sidebar-tabs">
            <div class="tab"> My Profile </div>
            <div class="tab"> Account Settings </div>
            <div class="tab"> Security Settings </div>
            <div class="tab"> Notification Settings </div>
            <div class="tab"> Appearance &nsbp; Accessibility </div>
            <div class="tab">  </div>
        </div>
    </div>
    <div class="content">
     
    </div>
    <script src="script.js"></script>
</body>
</html>