<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerMeta}}
    <title> Test scrapping: For development purpose </title>
</head>
<body>

    {{>header}}
    
    <form class="form-control" method="POST" action="/test">
    
    <input type="text" placeholder="Add course name" name="courseKeyword">
    <button class="btn" type="submit"> Search </button>
    </form>
</body>
</html>