/* CSS RESET */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
}

/* UTILITY CLASS */


.btn {

    background-color: #8D7BFF;
    color: white;
    border: 0px transparent;

    /* background-color: #cbb26a; */
    /* color: black; */
    padding: 10px;
    /* border-radius: 12px; */
    margin: 2px;
    cursor: pointer;
}

.btn a {
    color: white !important;
}

#isLoginError {

    display: inline-block;
    padding: 0.5rem;
    margin: 0.5rem;

}

/* LOADING SPINNER */

#loader {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
}


/* SCROLLBAR  */

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: #7e6bff;
}

/* HEADER SECTION */

.top_header {

    width: 100%;
    /* border: 2px solid black; */
    background-color: #F5FEFD;
    /* background-color: black; */
    color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    /* min-height: 70px; */
    padding: 1em;
    justify-content: space-around;
    align-items: center;
}


#title {
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #735eff;
    font-size: 1.4rem;

}

#title h1 :hover {

    color: #7e6bff;
    cursor: pointer;
}

.header_logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top_header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_navbar {

    display: flex;
    flex-wrap: wrap;
}

.top_header ul li {
    padding: 9px;
    list-style-type: none;
}

.top_header ul li a {
    cursor: pointer;
    color: rgb(0, 0, 0);
    text-decoration: none;
 
}

.top_header ul li a:hover{
    color:#5844d8;
}


.login_box {
    /* display: inline-block; */
}

.login_box a {
    color: black;
}

.small_navbar {

    background-color: #cac2ff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.small_navbar ul {

    display: flex;
    flex-wrap: wrap;
}

.small_navbar ul li {
    list-style-type: none;
    padding: 7px;
    margin: 0px 5px;
}

.small_navbar ul li a {
    color: black;

}

/* COVER */

.container {

    background-image: url(/img/cover2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 10px;
    opacity: 8;
}

.container h1,
h3 {
    color: black;
    text-align: center;
    font-size: 1.5rem;
}

/* Generalized Classes  */

.section-titles {

    text-align: center;
    padding: 1.1rem;
    font-size: 1.4rem;
}

.section-para {

    padding: 1.1rem;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.footer {

    color: white;
    background-color: #8D7BFF;
    height: 30px;
    display: flex;
    justify-content: last baseline;
    padding: 10px;
}

/* Blockquote */

blockquote {
    border: none;
    font-family: Georgia, "Times New Roman", Times, serif;
   
}

blockquote h3 {
    font-size: 1.1rem;
}

blockquote h3:before {
    content: open-quote;
    font-weight: bold;
    font-size: 70px;
    color: #735eff;
}

blockquote h3:after {
    content: close-quote;
    font-weight: bold;
    font-size: 70px;
    color: #735eff;
}

/* Sidebar */

.sidebar{
    
    width: 30%;
}

/* Rating Section */

.yellow-stars{
    color: rgb(184, 160, 56);
    font-size: 1.7rem;
    text-align: center;
}

/* Dashboard */

.welcome{

    width:65%;
}