/* CSS RESET */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;

}

/* Links */

a {
    text-decoration: none;
}

/* UTILITY CLASS */

/* LOADING SPINNER */

#loader {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
}


/* SCROLLBAR  */

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: #7e6bff;
}

/* Buttons */


.btn {


    background-color: rgb(98 84 243);
    /* background-color: #8D7BFF;  */
    color: white;
    border: 0px transparent;
    padding: 10px;
    margin: 4px;
    cursor: pointer;
}

.btn a {
    color: white !important;
}

#isLoginError {

    display: inline-block;
    padding: 0.5rem;
    margin: 0.5rem;

}

/* Paragraph */

.paragraph{

    padding:1.2rem;
}

/* Blockquote */

blockquote {
    border: none;
    font-family: Georgia, "Times New Roman", Times, serif;

}

blockquote h3 {
    font-size: 1.1rem;
}

blockquote h3:before {
    content: open-quote;
    font-weight: bold;
    font-size: 70px;
    color: #735eff;
}

blockquote h3:after {
    content: close-quote;
    font-weight: bold;
    font-size: 70px;
    color: #735eff;
}



/* Titles & Fonts */

.section-titles {

    text-align: center;
    padding: 1.1rem;
    font-size: 1.4rem;

}

.title-small{

    font-size: 0.8rem;
    color: #77748f;
    text-align: center;

}

.title-big{
    font-size: 1.7rem;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.section-para {

    padding: 1.1rem;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.section-subtitles {
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
    padding: 10px;
}

.img-containers-center {

    display: flex;

    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

}

/* Image Gallery */

.image-gallery {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.image-gallery img {

    height: 30%;
    width: 20%;
    padding: 5px;
}

/* SECTION Pages */

.section{

    width:100%;
    display: inline-block;
    background-color: white !important;
    border: 2px solid black;;
    display: flex;


}

.left-section{

    width: 47%;
    text-align: center;
    padding: 0.8rem;
 
}

.right-section{

    width: 47%;
    text-align: center;
    padding: 0.8rem;
}

.section-grey{

}


/* HEADER SECTION */

.top_header {

    width: 100%;
    background-color: #F6F8FA;
    color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    /* min-height: 70px; */
    padding: 1em;
    justify-content: space-around;
    align-items: center;
    font-family: 'Karla', sans-serif !important;
    font-weight: 400;
}


#title {
    float: left;
    font-family: 'Karla', Geneva, Tahoma, sans-serif;
    color: #735eff;
    font-size: 1.4rem;
    font-weight: 900;

}

#title h1 :hover {

    color: #7e6bff;
    cursor: pointer;
}

.header_logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top_header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.header_navbar {

    display: flex;
    flex-wrap: wrap;
  
}

.top_header ul li {
    padding: 7px;
    list-style-type: none;

}

.top_header ul li a {
    cursor: pointer;
    color: rgb(0, 0, 0);
    text-decoration: none;

}

.top_header ul li a:hover {
    color: #5844d8;
}


.login_box {
    
    margin: 0px 20px;
}

.login_box a {
    color: black;
}

.small_navbar {

    background-color: #cac2ff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.small_navbar ul {

    display: flex;
    flex-wrap: wrap;
}

.small_navbar ul li {
    list-style-type: none;
    padding: 7px;
    margin: 0px 5px;
}

.small_navbar ul li a {
    color: black;

}

/* Navbar Search */

.small_navbar input {
    padding: 3px;
    border-radius: 5px;
    border: 0px transparent;
}

/* COVER */

.container {

    background-image: url(/img/cover2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 10px;
    opacity: 8;
}

.cert-container {

    background-image: url(/img/cover2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 10px;
    opacity: 8;
}

.container h1,
h3 {
    color: black;
    text-align: center;
    font-size: 1.5rem;
}

.certifications-container h1,
h3 {
    color: black;
    text-align: center;
    font-size: 1.5rem;
}

.footer {

    color: white;
    background-color: #8D7BFF;
    height: 30px;
    display: flex;
    justify-content: last baseline;
    padding: 30px;
}

/* INDEX PAGE */

/* Rating Section */

.yellow-stars {
    color: rgb(184, 160, 56);
    font-size: 1.7rem;
    text-align: center;
}

/* Index Para */

.index-para {

    width: 70%;
    margin: auto;
    text-align: center;
}

.image-gallery-2 {
    /* width: 80%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.image-container {

    margin: 10px;
}

/* Portals */

.scholarshipPortal {
    margin: auto;

}

/* Dark Section */

/* .dark-section{

    background-color:#7e6bff;
    padding: 30px;
    color: white;
} */

/* Dashboard */

/* Sidebar */

.sidebar {
    width: 15%;
    display: inline-block;
    /* position: fixed; */

    height: 100vh;
    border: 2px solid black;

}

.sidebar a {

    color: rgb(0, 0, 0);
}

/* Dashboard Sidebar Dropdowns */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {

    color: black;

    text-decoration: none;
    display: block;
    text-align: left;

}

.dashboard-container {
    width: 60%;
    display: inline;

    border: 2px solid black;
    /* position: relative; */

}

.dashboard-group {

    display: flex;
    flex-wrap: wrap;
}


/* Dashboard News Containers */

.inner-newscontainer {
    height: 350px;
    overflow: hidden;
}


/* Load More Button */

#loadMore {
    text-align: center;
    display: inline-block;
    width: fit-content;
    margin: auto;

}

/* Form Control */

.form-control {

    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 20px 0px;

}

.form-reg-control {

    display: inline-block;
    width: 40%;
    text-align: center;
    margin: 30px;
}

.form-reg-control input {
    padding: 5px;
}

.form-control input {
    padding: 10px;
}

/* Internship Section */

.resultContainer {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;

}

.internshipContainer {

    height: 300px;
    padding: 1rem;
    background-color: whitesmoke;
    display: inline-block;
    width: 300px;
}

.internshipContainer li {
    list-style-type: none;
}

.internshalaContainer {

    width: 80%;
    margin: auto;
}

.linkedinContainer {

    width: 80%;
    margin: auto;
}


.internshipData {

    width: 60%;
    /* border: 2px solid black; */
}

.filters {
    width: 30%;
    text-align: center;
    margin: 10px;
    background-color: whitesmoke;
    padding: 10px;
    /* border: 2px solid black; */
}

/* Notification Boxes */

.errorNotifications {

    background-color: rgb(175, 106, 106);
    padding: 10px;
    margin: 10px;
    border: 2px solid red;
    display: none;
}

.successNotification {

    background-color: rgb(154, 222, 154);
    border: 2px solid green;
    padding: 10px;
    margin: 10px;
    display: none;
}

/*  MEDIA QUERIES AND RESPONSIVENESS STUFF*/


.mobile-container {}

/* #myLinks {
    display: none;
  } */