/* Jobs Hero Cover */

.jobs-hero{

    background-color: rgba(177, 105, 28, 0.7);
    background-blend-mode: multiply;
    background-image: url('/img/jobs2-cover.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: fixed;

    color: white;
    text-align: center;
    padding: 1.5em 1em;
}

/* Media Queries */

/* Mobile Screen */

/* Extra small devices */

@media screen and (max-width: 320px) {

  .section{
    justify-content: center;
  }

  .cover-para{
    display: none;
  }

  .categories{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
  }

  .cat-items{

    width:100%;

  }

  .filters{
    width: 100%;
  }
}

@media screen and (max-width: 479px) {

  
  .categories{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
  }

  .cat-items{

    width:100%;

  }

  .filters{
    width: 100%;
  }
}

