.sec-left{
    width: 40%;
    display: inline-block!important;
    display: flex;
}

.sec-right{
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 40% !important;;
    margin:0px;
    text-align: center;
}

.inner-container{
    width:100%;
    display: flex;
    justify-content: baseline;
    align-items: center;
}

@media only screen and (max-width: 767px) {

    /* Styles for mobile phones */

    .inner-container{
        display: flex;
        flex-direction: column;
    }
}
