.section-reg {
    width: 100%;
    height: 100vh;
}

.reg-left {
    width: 40%;
}

.reg-left::before {

    content: "";
    /* background: linear-gradient(to bottom, #ff0000, #00ff00); */
    background-image: url('/img/regcover.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
    width: 40%;
    position: absolute;
    left: 0;
    z-index: 1;

}

.gradient-overlay {
    position: absolute;
    left: 0;
    width: 40%;
    height: 100%;
    background: linear-gradient(to bottom, rgb(52, 152, 219, 0.8), rgb(30, 46, 58, 0.5));
    /* opacity: 70%; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 2;
}


.reg-left h1 {

    color: white;
    font-family: 'karla', Geneva, Tahoma, sans-serif;
    font-size: 2.1rem;
    font-weight: 800;
    text-align: center;
    width: 70%;

}

.reg-left h2 {
    color: white;
    font-family: 'karla', Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    width: 70%;

}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.reg-img-right {
    width: 55%;
    float: right;
    margin-top: 10%;
    position: relative;
    bottom: 0;

}

.form-control {

    margin-top: 10px;
}

.form-control input {
    margin: 10px 10px !important;
    padding: 5px !important;
}

/* Media Queries For Responsive Web Design */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .reg-left::before {

        width: 100%;
    }

    ;

    .reg-left {
        width: 100%;
        height: 90%;
    }

    .gradient-overlay {

        position: absolute;
        left: 0;
        top: 20;
        width: 100%;
    }

    .reg-img-right {
        width: 100%;
        margin-top: 10%;
        /* position: relative; */
        /* bottom: 0; */
        /* right:0; */

    }




}

/* Small devices (portrait tablets and large phones, 600px and up) */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

    .reg-left::before {

        width: 100%;
    }

    ;

    .reg-left {
        width: 100%;
        height: 90%;
    }

    .gradient-overlay {

        position: absolute;
        left: 0;
        width: 100%;
    }

    .reg-img-right {
        width: 100%;
        margin-top: 10%;

    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}