/* Registration Container */

.reg-container {
    width: 100%;
    height: 100vh;
}

/* Form Alignment */

.reg-img-right{
    margin-left: 250px !important;
}

/* Registration dividers */

#part2{
    display: none;
}

#part3{
    display: none;
}

footer{
    
}
