/* CSS RESET */

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

.profile-cover-img{
    width:100%;
    height: 30vh;
    background-image: url(/img/profile/cover-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.profile-cover-img img{
    width:100%;
 
    justify-content: center;
    align-items: center;
}

/* Profile Picture */

.profilePicture{
    position: relative;
    top: -90px;
    margin-left: 30px; 
    display: flex;
    width: fit-content;
    /* width:100%; */

}

.profile-container h1{
    font-size: 1.8rem;
    font-weight: 500;
    /* margin-top: -20px; */
    color: rgb(90, 90, 90);
}

.profilePicture img{
    border: 3px solid white;
}

#profile-name{
    display: inline-block;
    /* margin-left: 50px; */
    /* margin-top: -30px; */
    /* position: relative;
    top: -50px;
    left: -30px; */
}

#edu{
    display: inline;
}

.profile-info{
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.profile-container{
    display: flex;
    margin: 10px;
    margin-left: 20px;
}

.profile-container h1,p{
    margin-left: 20px;
}

/* Vertical Line */

.vertical-line {
    border-left: 1px solid black; /* You can adjust the color and thickness of the line */
    height: 95px; /* Set the height of the vertical line */
    margin: 0 10px; /* Optional: You can adjust the margin to position the line */
    margin-left: 60px;
}

.profile-info-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin:10px;

}

/* Profile Sections */

.profile-container{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
}

.profile-info{
    width: 35%;
    padding: 10px;
    margin: 5px 0px;
}

.profile-info span{
    width: fit-content;
    display: inline-block;
}

.profile-info img{
    width: fit-content;
    display: inline;
    padding: 3px;
    margin: 5px;

}

.profile-info p{
    text-align: left;
}


/* Profile Img Vectors */

.profile-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

/* Hr Tag */

.profile-info hr{
    background-color: var(--clr-primary);
    height: 2.5px;
    width: 150px;
    margin-bottom: 15px;
}

/* Media Queries */

@media screen and (max-width: 479px) {

    input[type="file"]{
        display: flex;
        flex-wrap: wrap;
    }

    .profilePicture{
        margin:auto;
        width: 100%;
        display: block;
        z-index: 8;
    }

    .profile-info{
        width: 80%;
    }

    .profile-info h1{
        font-size: 2.5rem;
    }

    .profile-info p{
        font-size: 1.6rem;
    }

    .vertical-line{
        display: none;
    }

    /* Profile Info Container */

    .profile-info-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

}