<footer>
    <div class="ft-1">
        <h4> CareerPilot </h4>
        <p> Integrated Placements and Scholarship Portal for students and graduates</p>
    </div>

    <div class="ft-1">
        <h4> Company </h4>
        <p> Integrated Placements and Scholarship Portal for students and graduates</p>
    </div>

    <div class="ft-1">
        <h4> Help </h4>
        <p> Integrated Placements and Scholarship Portal for students and graduates</p>
    </div>

    <div class="ft-1">
        <h4> Others </h4>
        <p> Integrated Placements and Scholarship Portal for students and graduates</p>
    </div>

    <div class="ft-1">
        <h4> Terms </h4>
        <p> Integrated Placements and Scholarship Portal for students and graduates</p>
    </div>

</footer>