<header class="header">

    <div class="header-left">
        <img src="img/logos/logo-blue.png">
        <p id="site-title"> Career Pilot</p>
    </div>

    <nav class="navbar">
        <ul class="navbar-links">
            <li class=".nav-item"> <a href="/"> Home </a></li>
            <li class=".nav-item"> <a href="/courses"> Certifications </a></li>
            <li class=".nav-item"> <a href="/internships"> Internships </a> </li>
            <li class=".nav-item"> <a href="/jobs"> Jobs </a> </li>
            <li class=".nav-item"> <a href="/scholarships"> Scholarships </a> </li>
        </ul>

        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>

    {{#if verifyUser}}

    <script> console.log("test 45");</script>

    <li id="dropdown">
        {{!-- <a href="#" class="profile-icon">
            <img src="/img/vectors/user.png" alt="Profile" height="30px" width="30px">
        </a> --}}
        {{!-- <div class="dropdown-content"> --}}
            {{!-- <a href="/myprofile">View Profile</a> --}}
            <a href="/logout">Logout</a>
        </div>
    </li>

    {{else}}
    <div class="header-right">
        <a href="/registration"> Register | </a>
        <a href="/loginPage"> Sign In </a>
    </div>

    {{/if}}
</header>

<script>

    // Check if the user is authenticated

    const hamburger = document.querySelector(".hamburger");
    const navMenu = document.querySelector(".navbar-links");

    hamburger.addEventListener("click", function () {
        hamburger.classList.toggle("active");
        navMenu.classList.toggle("active");

    })

    document.querySelectorAll(".nav-links").forEach(n => {
        navMenu.hamburger.classList.remove("active")
    });

    console.log("before mahabharat")

    // Navbar Active Link

    const currentPath = window.location.pathname;

    // Get all navigation links
    const navLinks = document.querySelectorAll('.navbar-links a');
    console.log("before iteration");

    // Iterate through each navigation link and add the "active" class to the current page's link
    navLinks.forEach(link => {
        if (link.getAttribute('href') === currentPath) {
            link.classList.add('nav-active'); // Remove the dot before 'nav-active'
        }
    });



</script>