<header class="header">

    <div class="header-left">
        <img src="img/logos/logo-blue.png">
        <p id="site-title"> Career Pilot</p>
    </div>

    <nav class="navbar">
        <ul class="navbar-links">
            <li class=".nav-item"> <a href="/"> Home </a></li>
            <li class=".nav-item"> <a href="/courses"> Certifications </a></li>
            <li class=".nav-item"> <a href="/internships"> Internships </a> </li>
            <li class=".nav-item"> <a href="/jobs"> Jobs </a> </li>
            <li class=".nav-item"> <a href="/scholarships"> Scholarships </a> </li>
        </ul>

        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>


    <div class="header-right">
        <a href="/registration"> Register | </a>
        <a href="/loginPage"> Sign In </a>
    </div>
</header>

<script>
    const hamburger = document.querySelector(".hamburger");
    const navMenu = document.querySelector(".navbar-links");

    hamburger.addEventListener("click", function(){
        hamburger.classList.toggle("active");
        navMenu.classList.toggle("active");

    })

    document.querySelectorAll(".nav-links").forEach(n => {
        navMenu.hamburger.classList.remove("active")});

</script>