<header class="top_header">
    <div class="header_logo">
        {{!-- <img src="/img/icons/logo_symbol.png" alt="Logo. Image not available" height="80px" width="90px"> --}}
        <h1 id="title"> CareerPilot </h1>
    </div>

    <!-- Simulate a smartphone / tablet -->
    {{!-- <div class="mobile-container"> --}}

        <nav class="header_navbar">
            <ul id="myLinks">
                <li><a href="/"> HOME </a> </li>
                <li><a href="/courses"> CERTIFICATIONS </a> </li>
                <li><a href="/internships"> INTERNSHIPS </a></li>
                <li><a href="/scholarships"> SCHOLARSHIPS </a> </li>
                <li><a href="/jobs"> JOBS </a></li>
            </ul>

        </nav>
        <div class="login_box">
            <button class="btn" id="loginbtn"> <a href="/loginPage"> LOGIN </a> </button>
            <button class="btn" id="signupbtn"> <a href="/registration"> SIGN UP </a></button>

            <!-- Or User Profile Icon  -->

        </div>


        {{!-- Hamburger Icon --}}

        {{!-- <a href="javascript:void(0);" class="icon" onclick="toggleNav()">
            <i class="fa fa-bars"></i>
        </a> --}}

        {{!-- End Mobile Container Simulation --}}

    </div>
</header>

<nav class="small_navbar">
    <ul>
        <li> <a href="/sitemap"> Sitemap</a></li>
        <li> Language </li>
        <li><a href="/services"> Services </a></li>
        <li><a href="/carreradvice"> Carrer Advice </a> </li>
        <li><a href="/faq">F.A.Q </a></li>
        <li><a href="/reportproblem">Report a problem </a></li>
        <li> <a href="/feedbackPage"> Feedback </a></li>
        <li> <a href="/about"> About </a> </li>
        <li> <a href="/contactus">Contact Us </a> </li>
        <li> <a href="/dashboard"> Dashboard </a> </li>
        <li> <a href="/logout"> Logout </a> </li>
        <li> <div id="searchbox"> <input type="text" placeholder="Search anything"> <a href="#"><img src="img/vectors/search.png" height="15px" width="15px"></a></div></li>
    </ul>
</nav>

{{!-- <script>
//function toggleNav() {
 // var x = document.getElementById("myLinks");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}
</script> --}}