<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerMeta2}}
    <title>Privacy Policy : CareerPilot</title>
</head>

<body>
    {{>header2}}

    <center>


    <div class="container" style="margin: 10px 100px">
        <h1 class="cover-title"> Privacy Policy </h1>

        <p> **Privacy Policy**

            Effective Date: 13-10-23

            This Privacy Policy explains how CareerPilot collects, uses, discloses, and safeguards your personal
            information when you visit our website or use our web application. Please read this Privacy Policy carefully
            before using the Service. By accessing or using the Service, you agree to the terms and conditions of this
            Privacy Policy.
            <br><br>
            **1. Information We Collect**
            <br><br>
            When you use our Service, we may collect the following categories of personal information from you:
            <br><br>
            - **Full Name:** To personalize your experience and address you properly.<br>
            - **Email Address:** To communicate with you and send important notifications.<br>
            - **Skills:** To understand your expertise and suggest relevant courses, internships, and jobs.<br>
            - **College Details:** To tailor our suggestions based on your educational background.<br>
            - **Gender:** To provide personalized recommendations and enhance user experience.<br>
            <br><br>
            **2. How We Use Your Information**<br><br>

            We may use the personal information we collect for various purposes, including but not limited to:<br>
            <br>
            - Providing, maintaining, and improving the Service<br>
            - Personalizing your experience on the Service<br>
            - Sending you relevant course recommendations, internship opportunities, job listings, and other educational
            or career-related content<br>
            - Responding to your inquiries and providing customer support<br>
            - Complying with legal obligations<br>
            <br><br>
            **3. Data Security**<br><br>

            We take reasonable measures to help protect your personal information from unauthorized access, use, or
            disclosure. However, no data transmission over the internet or storage system can be guaranteed to be 100%
            secure.<br>
            <br>
            **4. Sharing Your Information**<br><br>

            We do not sell, trade, or otherwise transfer your personal information to outside parties. We may share your
            information with trusted third parties who assist us in operating our website, conducting our business, or
            servicing you, as long as those parties agree to keep this information confidential.<br><br>
<br><br>
            **5. No Web Scraping**<br><br>

            We strictly prohibit web scraping or any other unauthorized means of data collection from our Service.
            Violators will be dealt with according to the applicable laws.<br>
<br><br>
            **6. Cookies and Tracking Technologies**<br>

            We may use cookies and similar tracking technologies to enhance your experience on the Service. You can set
            your browser to refuse all or some browser cookies or to alert you when cookies are being sent.
<br><br>
            **7. Third-Party Links**

            The Service may contain links to third-party websites or services that are not owned or controlled by us. We
            have no control over, and assume no responsibility for, the content, privacy policies, or practices of any
            third-party websites or services.
<br><br>
            **8. Children's Privacy**

            The Service is not intended for individuals under the age of 13. We do not knowingly collect personal
            information from children under 13. If you are a parent or guardian and believe we have collected
            information from your child, please contact us immediately.
<br>
            **9. Changes to This Privacy Policy**
<br><br>
            We may update this Privacy Policy from time to time. We will notify you of any changes by posting the new
            Privacy Policy on this page.
<br>
            **10. Contact Us**
<br>
            If you have any questions or concerns about this Privacy Policy, please contact us at:
<br>
            server.careerpilot@gmail.com<br>

            By using the Service, you agree to the terms and conditions of this Privacy Policy.
        </p>
    </div>



    </center>
    {{>footer2}}
</body>

</html>