<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerMeta}}
    <title>Sitemap : CareerPilot</title>
</head>
<body>

    {{>header}}

    <h1> Local Homepage </h1>

    <div>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore, recusandae? </br>
    </div>

    <h1> Popular Topics </h1>
    
</body>
</html>